body {
    margin:0;
    background-color: #282828;
    overflow: hidden;
}
.allInfo{
    position: absolute;
    margin-top: -20px;
    width: 100vw;
    height: 10vh;
    background-color: rgb(90, 90, 90);
}
.logo {
    position: absolute;
    margin-left: 0.8vw;
    width: 3.2em;
    height: 4rem;
    cursor: pointer;
}
.cpmInfo, .frasesInfo, .aboutInfo {
    position: absolute;
    display:flex;
    align-items:center;
    justify-content: center;
    font: bold 1.2vw 'Courier New';
    font-family: 'Courier New', Courier, monospace;
    color: rgba(114, 114, 114, 0.815);
    text-decoration: none;
    width: 100vw;
    height: 100%;
}
.cpmInfoP, .frasesInfoP, .aboutInfoP {
    transition: 0.3s;
    display:flex;
    align-items:center;
    justify-content: center;
    background-color: rgba(34, 34, 34, 0.151);
    position: absolute;
   
    margin-left: 13.5vh;
    width: 5vw;
    height: 100%;
}
.cpmInfoP:hover, .frasesInfoP:hover, .aboutInfoP:hover{
    transition: 0.3s;
    background-color: rgba(14, 14, 14, 0.329);
}
.frasesInfoP{
    margin-left: 10em;
}
.aboutInfoP{
    width: 8vw;
    margin-left: 185vh;
}
.section {
    width: 100vw;
    height: 100vh;
    margin-top: -26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p {
    position: absolute;
    margin-top: 18vh;
    font-family: 'Courier New', Courier, monospace;
    color: rgba(151, 151, 151, 0.712);
    font-size: 1.5em;
}

h1 {
    color: rgba(151, 151, 151, 0.712);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    margin-bottom: 22vh;
    margin-left: 4vw;
    margin-right: 4vw;

}

input {
    position: absolute;
    background-color: rgba(128, 128, 128, 0.247);
    border: transparent;
    outline: none;
    color: rgba(151, 151, 151, 0.712);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    width: 45vw;
}

input[type=button] {
    transition: 0.3s;
    margin-top: 50vh;
    cursor: pointer;
}

input[type=button]:hover {
    transition: 0.3s;
    background-color: rgba(128, 128, 128, 0.418);
}

#random-posts img {
    float: left;
    margin-right: 0px;
    border: 0px solid transparent;
    background: #FFF;
    width: 0px;
    height: 0px;
    padding: 0px
}

#random-posts li {
    margin: 0px 0px 10px 0px;
}

.remove {
    position: fixed;
    width: 0;
    height: 0;
    margin-left: -100vw;
}

ul {
    position: fixed;
    margin-left: -100vw;
}